body{
    background-color: #455A64;
    overflow: hidden;
<<<<<<< HEAD
    min-height: auto;
    max-height: auto;
=======
>>>>>>> origin/master
}

/*#graphVitesse{
    background-color: white;
}

#graphEnergie{
    background-color: white;
}*/

h1 {
    text-align: center;
    color: white;
}

.ct-chart{
    background-color: white;
<<<<<<< HEAD
=======
    min-height: auto;
    max-height: auto;
>>>>>>> origin/master
}
