body{
    background-color: #455A64;
    overflow: hidden;
    min-height: auto;
    max-height: auto;
}

/*#graphVitesse{
    background-color: white;
}

#graphEnergie{
    background-color: white;
}*/

h1 {
    text-align: center;
    color: white;
}

.ct-chart{
    background-color: white;
}
